<html>
<style>
</style>
<body>
  <h1>Kalendermatic 3000</h1>
  <p>Vælg år og tryk på "submit" for at vise en kalender</p>
  <form method="post">
    <select name="year">
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
    </select>
    <input type="submit">
  </form>
  <p>
    Obs: <em>denne side kan hackes. Læs <a href="https://github.com/skipperkongen/hack-dig-selv/blob/master/systemkald/README.md">README.md</a> for at finde ud af hvordan du gør.</em>
  </p>
</body>
</html>
