<html>
<head>
<style>
  body {
    font-family: fixed;
    background: red;
    color: black;
  }
  .cnt {
    display: flex;
    align-items: center;
    justify-content: center
  }

</style>
</head>
<body>
  <div class="cnt">
<pre>
    _.-^^---....,,--
_--                  --_
<                        >)
|                         |
\._                   _./
   ```--. . , ; .--'''
         | |   |
      .-=||  | |=-.
      `-=#$%&%$#=-'
         | ;  :|
_____.,-#%&$@%#&#~,._____
</pre>
</div>
<div class="cnt">
<h1>AAAAAARGH, SIDEN ER BLEVET HACKET!</h1>
</div>
</body>
</html>
